[submodule "code/lang/cpp/cs106l-assignments"]
	path = code/lang/cpp/cs106l-assignments
	url = git@github.com:virtualguard101/cs106l-assignments.git
[submodule "code/os/ostep-code"]
	path = code/os/ostep-code
	url = git@github.com:virtualguard101/ostep-code.git
[submodule "code/os/unix"]
	path = code/os/unix
	url = git@github.com:virtualguard101/unix.git
[submodule "code/artificial-intelligent/coursera-ml"]
	path = code/artificial-intelligent/coursera-ml
	url = git@github.com:virtualguard101/coursera-ml.git
[submodule "code/artificial-intelligent/coursera-dl"]
	path = code/artificial-intelligent/coursera-dl
	url = git@github.com:virtualguard101/coursera-dl.git
