.credit-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(125px, 1fr));
  gap: 1rem;
}

.credit-grid img {
  width: 100%;
  height: auto;
  object-fit: contain;
}

@media screen and (max-width: 767px) {
  .credit-grid {
    display: auto;
    position: relative;
    grid-template-columns: repeat(auto-fill, minmax(125px, 1fr));
    gap: 1rem;
  }

  .credit-grid img {
    width: 100%;
    height: auto;
    object-fit: contain;
  }
}
